#header
{
	background-image: url(../img/h2.jpeg);
    background-size: cover;
}
#container{
    width: 1000px;
}

#content{
    display: grid;
    width: 900px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto ;
	/* grid-row-gap: 1px; */
}
#inside_content{
    grid-column: 1/ -1;
    grid-row: 1/auto;
}

.background > .bg_4{
    grid-column: 1/-1;
    grid-row: 2/auto;
    max-height: 700px;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 10px;
   
}


/* .grid-container{
    display: grid;
    width: 900px;
    grid-template-columns:300px 300px 400px  ;
    grid-template-rows: auto auto;
}

.bg_3{
    grid-column: 1/ 3;
    grid-row: 1/ auto;
    max-height: 700px;
    overflow: hidden;
    background: cover no-repeat;
}
.bg_5{
    grid-column: 3/ auto;
    grid-row: 1/-1;
    /* max-height: 700px; */
    /* background-size: cover;
    overflow: hidden;
}  */