

body
{
	font-size:       65%; 
	margin:          0;
	padding:         0;
	background-color: #000;
	font-family:     'Times',  sans-serif;
}

#container
{
	margin:0 auto;
	
	padding-top: 20px;
	min-height: 750px;
	width:          900px;
	/* height: 720px; */
	/* height: auto; */
	position:        relative;
	background-color:  #800000;

}

#header
{
	margin:          0 auto;
	width:           640px;
	height:          250px;
	background:      transparent url(../img/background.jpeg) top center no-repeat;
	background-size: cover;
}

.headtitle
{
	position:        relative;
	font-family:     'Times New Roman', Times, serif;
	font-size:       30px;
	text-shadow: 1px 1px #FDDA0D;
	text-align: left;
	color:          #FFD700;
	top:             210px;
	left:            12px;
}

#menu
{
	margin:          0 20px;
	height:          29px;
	padding:         5px 0;
}

#menu ul
{
	margin:          0;
	padding:         7px;

	height:          29px;
}

#menu ul li
{
	list-style:      none;
	display:         inline;
	
}

#menu ul li a{
	color:           #DAA520;	
	padding:         10px 7px 10px 7px;
	font-size:       1.5em;

	font-family:     'Times New Roman', Times, serif;
	font-weight:     bold;
}

/* #menu ul li a:visited
{
	border: dotted #94C258 20px;
	background: #94C258;
} */

/* .About a.About:visited{
	border: dotted #94C258 20px;
	background: #94C258;
	color: white;
} */

#menu .current {
    color:yellow;
    border: 2px dotted #FFA500;
    border-radius: 5px 
;
}
#menu ul li a:hover
{
	/* background-color:   #6A7919; */
	border: solid #FFA500 2px;
	color:           #FFD700;
	
	
}


#content
{
	min-height:      400px;
	width:           700px;
	margin:          0 auto;
	background-color:#FDFDFD;
}

#inside_content
{
	float:           left;
	padding-left:    25px;
	padding-right:    25px;
	width:           auto;
}

#inside_content p
{
	margin:          0;
	color:           #000000;
	font-family:     Tahoma;
	font-size:       1.2em;
	line-height:     170%;
}

.p1{
	font-weight: bold;
}


h1
{
	margin:          0;
	font-weight:     normal;
	color:           #DAA520;
	font-size:       2.5em;
	font-family:Times;
}

h2
{
	margin:          0;
	display:         inline;
	position:        relative;
	top:             -1.5em;
	left:            2em;
	font-size:       1.8em;
	font-weight:     normal;
	color:           #94c258;
}

h3
{
	margin:          0;
	font-size:       1.5em;
	font-weight:     normal;
	color:           #94C258;
}

#footer
{
	margin:          0 auto;
	width:           641px;
	height:          39px;
	
}

#footer span
{
	display:         block;
	position:        relative;
	font-family:    'Times New Roman', Times, serif;
	font-size:       1.2em;
	padding:         10px;
	color:           #FDFDFD;
	
}